<footer>
<div class="card text-center">
    <div class="card-header">
      Idneo
    </div>
    <div class="card-body">
      <h5 class="card-title">Licence Usage Application</h5>
      <p class="card-text">Don't hesitate to contact to <a href="mailto:{{email}}">{{email}} </a> for further assistance if that doesn't work. </p>
      <a href="https://sites.google.com/idneo.com/idneo-it/idneo-apps" class="btn btn-primary btn-idneo">
        <img class="btn-icon" src="assets/idneo_icon_white.png" alt="idneo icon">
        Idneo Apps</a>
    </div>
    <div class="card-footer text-body-secondary">
      {{year}}
    </div>
  </div>
</footer>
