html, body { height: 100%; }
body { margin: 0; }
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48vh;
  
}
.btn-close{
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(243, 240, 240);
}
