html, body { height: 100%; }
body { margin: 0; }
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48vh;
  
}
.btn-close{
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(243, 240, 240);
}

.btn-idneo {
    background-color: #5e87ff; 
}

.btn-idneo:hover{
   background-color: #4665c0; 
}

.btn-icon{
    width: 1em;
    padding-bottom: 3px;
}
#google_btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }